h2.page-header
  | 關於本系統
| 說實話....
br
| 這目前其實只是個漂亮點的檔案瀏覽器 XDD
br
| 不過這系統有Github Webhook
br
| 所以可以在Github上檔案有更新時自動同步
h2.page-header
  | 原始碼
| 照慣例... 所有東西都丟上Github了www
br
a href="https://github.com/danny8376/HTML5-Assignment-Manager"
  | HTML5-Assignment-Manager